.form {
  display: block;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  background-color: #e7f3f3;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: beige;
  margin-top: 15px;
}

.input {
  margin-right: 15px;
  margin-top: 1px;
  color: #3a1b14;
  padding-left: 5px;
}

.button {
  margin-top: 10px;
  width: 200px;
  border-radius: 4px;
  background-color: white;
  color: #3a1b14;
}

.button:hover,
.button:focus {
  background-color: rgba(13, 0, 128, 0.897);
  color: white;
}
