.item {
    color: #3a1b14;
    display: flex;
  
    align-items: baseline;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 4px;
    background-color: white;
    color: #3a1b14;
  }
  
  .button:hover,
  .button:focus {
    background-color: rgba(28, 0, 128, 0.863);
    color: white;
  }