.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-right: 15px;
}
.name {
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #1909a7;
}

.button {
  padding: 10px;
  max-width: 250px;
  align-self: center;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #1909a7;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #2d20e4;
}
